$base : #6cb0ff;
$base-bg : #ECF5FF;

$text-danger : #F56C6C;
$text-gray: #999;
$text-success: #67C23A;


$tb-tl-bg : #E0E0E0;
$tb-tl-cl : #999;
$a-color : #FF9900;

$search-bg:#E0E0E0;
$search-cl:#999;